default_agent: tacagent
agents:
  tacagent:
    name: tacagent
    language: python
    entrypoint: agent.py
    deployment_type: direct_code_deploy
    runtime_type: PYTHON_3_10
    platform: linux/amd64
    source_path: .
    aws:
      execution_role: null
      execution_role_auto_create: true
      account: null
      region: null
      s3_auto_create: true
      network_configuration:
        network_mode: PUBLIC
      protocol_configuration:
        server_protocol: HTTP
      observability:
        enabled: true
    memory:
      mode: NO_MEMORY
